@import url(main.css);

table.GeneratedTable {
    width: 40%;
    height: 10%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #368c76;
    border-style: solid;
    color: #000000;
  }
  
  table.GeneratedTable td, table.GeneratedTable th {
    border-width: 2px;
    border-color: #368c76;
    border-style: solid;
    padding: 3px;
    font-size: 20px;
  }
  
  table.GeneratedTable thead {
    background-color: #55ecb2;
  }